# cp config/env.example config/frida.env

export FRIDA_IPHONE_HOST=192.168.254.133
export FRIDA_IPHONE_USER=mobile
# export FRIDA_SSH_PASS=mobile
export FRIDA_VENV=~/frida-env

# App bundle (Vampire's Fall 2)
export TRIDENT_BUNDLE_ID=com.earlymorningstudio.trident
